p{
    padding: 1%;
    text-align: center;
    color: chartreuse;
    font-size: 50px;
}



h1{
    text-align: center;
    color: rgb(0, 255, 51);
    font-size: 70px;
    font-family:cursive;

}
    
body{
    text-align: center;
    background-image: url(image.png);
    background-attachment: fixed;
    
    background-size: cover;
}
button{
    color: green;
    background-color: green;
    margin-left: 10px;
    font-size:25px;
    text-align: center;
}
#button4{
    background-color: yellow;
    color: yellow;
    
}

#button9{
    background-color: yellow;
    color: yellow;
}
#button4:hover{
    color: cornflowerblue;
    background-color: blueviolet;
    border-radius: 10px;
    font-size: 50px;
}

#button9:hover{
    color: cornflowerblue;
    background-color: blueviolet;
    border-radius: 10px;
    font-size: 50px;
}

button:hover{
    color: cornflowerblue;
    background-color: blueviolet;
    border-radius: 10px;
    font-size: 25px;
}

#web1Input1{
    font-size: 25px;
    
    
}
#web1Input1::placeholder{
    color: rgba(128, 128, 128, 0.575);
}
#web1Submit1{
    font-size: 25px;
    color: rgb(54, 202, 0);
    background-color: rgb(0, 255, 47);
    border-radius: 3px;
}
#web1Submit1:hover{
    border-radius: 5px;
    
}


#web1P1{
    text-align: center;
    font-size: 70px;
    color: aquamarine;
}


#web1NewBtn1{
    color: yellow;
    background-color: black;
    font-size: 70px;
    border-color:yellow ;
    border-radius: 5px;
    border-style: solid;
}
#web1NewNewBtn1{
    color: yellow;
    background-color: black;
    font-size: 70px;
    border-style: none;
    border-radius: 5px;
    
}
#hintButton{
    color: yellow;
    background-color: black;
    font-size: 70px;
    border-style: none;
    border-radius: 5px;
}
