@font-face {
    font-family: FaithCollapsing;
    
    src: url("FaithCollapsing.ttf"),
    local("FaithCollapsing");
}

body{
    display: block;
    font-family: FaithCollapsing;
    font-size: large;
    
}

div{
    align-self: center;
    
}

#headerbox{
    display: flex;
    align-content: center;
    justify-content: center;
    
}

#mouseBox{
    display: grid;
    justify-content: center;
    align-self: center;
}

.mouse{
    display: flex;
    justify-content: center;
}
