p{
    padding: 1%;
    text-align: center;
    color: chartreuse;
    font-size: 50px;
}



h1{
    text-align: center;
    color: rgb(0, 155, 31);
    font-size: 70px;
    font-family:cursive;
    text-shadow: 1px 5px 1px black;

}
    
body{
    text-align: center;
    background-image: url(image.png);
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 50vh;
}
button{
    color: rgb(198, 24, 198);
    background-color: green ;
    margin-left: 50px;
    font-size: 40px;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    align-self:middle;
}
button:active{
    color: rgb(167, 21, 167);
    background-color: rgb(1, 110, 1) ;
    margin-left: 50px;
    font-size:39px;
    text-align: center;
    border-radius: 5px;
    border-style: solid;

}

#creditCardContainer{
    justify-content: center;
    text-align: center;
    align-self: center;
    align-content: center;
    align-content:normal;

}


#creditCardInfo{
    
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    width: 650px;
    height: 350px;
    display: none;
    justify-content:center;
    text-align: center;
    line-height: 50px;
    line-break: 20px;
    padding: 10px;
    padding-top: 10px;
    margin-bottom: 1px;
}

#money{
    place-content: right;
    justify-self: right;
    justify-content: right;
    text-align: right;
    display: flex;
}
#whySoSerious{
    display: none;
    position: absolute;
    right: 10%;
}
#returnButton{
    display: none;

}
#creditCardInputing{
    display:none;
}
#creditCardSubmit{
    display: none;
}

#wrongAnswer{
    font-size: 30px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#easter{
    display: none;
}

