body{
    background-image: url(doubleFaced.jpg);
    text-align: center;
}
#coinThrowH1{
    color: orange;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

button{
    font-size: 60px;
    color: orange;
    background-color: black;
    border-color: white;
    border-radius: 7px;
    border-style: solid;
    border-width: 4px;
    padding: 10px;
    margin: 25px;
}
button:active{
    font-size: 59px;
    color: rgb(207, 135, 0);
    background-color: black;
    border-color: rgba(255, 255, 255, 0.664);
    border-radius: 9px;
    border-style: solid;
    border-width: 4px;
    padding: 10px;
    margin: 25px;
}


#throwButton{
  display: none;

}

#returnButton{
    display: none;

}
